.navbar-header{
  background: #000033;
}

a {
  text-decoration: none;
}

h1 {
  font-size: 2em;
  margin: 0;
  line-height: 1.25em;
}

a:hover, a:focus {
  color: #d7d6dc;
  text-decoration: none;
}

/* ================================= 
  Logo
==================================== */

#logo {
  text-align: center;
  font-size: 1.25em;
  margin-top: 25px;
  display: block;
  color: #7aa5d7;
}

#title {
  color: #000033;
  margin-bottom: 15px;
}


/* ================================= 
  Navigation
==================================== */

nav ul {
  list-style: none;
  padding: 10px 0 15px 0;
}

nav li {
  text-align: center;
  margin-top: 7px;
  margin-bottom: 7px;
}

nav a {
  font-size: 1em;
  font-weight: 500;
  color: #7aa5d7;
  text-align: center;
  display: block;
  padding: 5px;
}

nav a.selected, nav a:hover {
  color: #d7d6dc;
}

/* ================================= 
  Login
==================================== */

#login {

}

@media (min-width: 768px) {


  /* =====Logo and Nav===== */
//   #logo {
//     padding: 15px 50px;
//     float: left;
//     margin-top: 7px;
//     margin-bottom: 20px;
//   }

//   nav ul {
//     float: right;
//     padding-right: 50px;
//     padding-top: 15px;
// }
//   nav li {
//     display: inline-block;
//     float: left;
//   }

//   nav a {
//     font-size: 1em;
//     font-weight: 500;
//     padding: 15px 10px;
//     color: #7aa5d7;
//   }

}
