<div class="container">

  <!-- enter todo to add -->
  <div class="panel panel-default">    
    <div class="panel-heading">myToDos to Add</div><!--panel-header-->   
    <div class="panel-body">
      <div class="input-group">
        <textarea class="form-control custom-control" rows=3 style="resize:none" ng-model="main.todo"></textarea>
        <span class="input-group-addon btn btn-primary" ng-click="main.postTodo()">Add</span>
      </div><!--end input-grp-->
    </div><!--panel body--> 
  </div><!--end panel-->

  <!-- list od=f added todos -->
  <div class="panel panel-default">    
    <div class="panel-heading">myToDo List</div><!--panel-header-->   
    <div class="panel-body">
      <ul class="list-group">
        <p>what the heck</p>
        <li class="list-group-item" ng-repeat="todo in main.todos">{{todo.td}}</li>
      </ul><!--end ul -->
    </div><!--panel body--> 
  </div><!--end panel-->

</div>
